body {
    background-color: #e4c2f2;
    display: grid;
}

ul {
    list-style-type: none;
}

h1,h2,h3,h4 {
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
}

