@media screen and (max-width: 615px) {
  .container {
    display: grid;
    grid-template-columns: minmax(50px, auto) minmax(400px, auto);
  }
  .btns ul {
    align-content: flex-start;
    margin-top: 2rem;
  }

  .areaPalavras {
    margin-right: 3rem;
  }
  section .contador,
  .clipboard {
    display: none;
  }
  section .web {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
  }
  .mobile section {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: -2.2rem;
    margin-top: 1rem;
  }

  .modal {

    top: 60%;
    right: 30%;

  }
 
  @keyframes buttonToTop {
    from {
      top: 55%;
      right: 30%;
    }
    to {
      top: 60%;
      right: 30%;
    }
  }

  @keyframes topToBottom {
    from {
      top: 45%;
      right: 30%;
    }
    to {
      top: 60%;
      right: 30%;
    }
  }
  
  @keyframes leftToRight {
    from {
      top: 60%;
      right: 10%;
    }
    to {
      top: 60%;
      right: 30%;
    }
  }
  
  @keyframes rightToLeft {
    from {
      top: 60%;
      right: 55%;
    }
    to {
      top: 60%;
      right: 30%;
    }
  }
  
  
}

@media screen and (max-width: 535px) {
  header {
    margin-top: -.5rem;
    text-align: center;
  }
  .nav-web {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: minmax(20px, auto);
    /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
    grid-template-areas: "area" "navegacao";
  }
  .areaPalavras {
    grid-area: area;
    margin-left: 1rem;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 10%;
    width: 100%;
    z-index: 1;
  }
  .mobile .contador-mobile {
    margin-right: 2em;
  }
  .btns {
    width: 100%;
    position: fixed;
    bottom: -4%;
  }
  .btns .btn:hover {
    background-color: transparent;
    animation: none;
  }
  .btn:active {
    box-shadow: none;
    animation: none;
    outline: none;
  }
  .maiusculas,
  .minusculas,
  .iniciasMaiusculas,
  .letrasNumeros,
  .riscado {
    max-width: 2.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: 1rem 1rem 1rem black;
  }
  .nav-mobile {
    grid-area: navegacao;
    display: flex;
    background-color: #bf82d9;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0px;
    border-top: 0.2rem solid;
    box-shadow: inset 0rem 0.1rem 0.1rem rgb(48, 45, 45);
    padding-left: 1rem;
  }
  .nav-mobile li {
    flex-grow: 1;
  }
  .nav-mobile .btn {
    border: 0.2rem solid;
    box-shadow: 1rem 1rem 1rem rgb(48, 45, 45);
    padding: 0.4rem;
    background-color: 0;
    box-shadow: none;
  }
  footer {
    margin-bottom: 4rem;
  }
  .att {
    display: block;
    margin: 0 auto;
    max-width: 12rem;
  }
  footer h5 {
    text-align: center;
  }
  .modal {
   max-width: 11rem;
   top: 60%;
   right: 30%;
  }
  
  .modal-content {
    padding: .5rem;
  }

  .modal h3{
    font-size: 1rem;
  }

  @keyframes rightToLeft {
    from {
      top: 60%;
      right: 45%;
    }
    to {
      top: 60%;
      right: 30%;
    }

}
}
